@model LoginViewModel

<h2>Log in</h2>

<div class="row">
    <div class="col-md-4">
        <div class="g-signin2"> <a asp-action="Login" asp-controller="Account"> </a></div>
    </div>
</div>


<script src="https://apis.google.com/js/platform.js" async defer></script>