.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    background-color: #CFD8DC;
}

    .card:hover {
        background-color: #a9bad6;
        cursor: pointer;
    }

    .card img {
        max-width: 100%;
        top: 0;
    }

    .text {
        padding: 0 5px 20px;
    }

table {
    height: 100%;
}

i {
    font-size: 20px;
}