<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="small-nav">
        @if (User.Identity.IsAuthenticated)
        {
        <form method="post" , asp-action="Logout" asp-controller="Account">
            <button id="logout" class="nav-btn" type="submit">Log out</button>
            <label id="logoutlbl">@User.Claims.ElementAtOrDefault(4).Value</label>
        </form>
        @*}*@
        @*else
        {*@
            <a class="nav-btn" asp-action="Register" asp-controller="Account">Register</a>
            <a class="nav-btn" asp-action="GoogleLogin" asp-controller="Account">Log in</a>
        @*}*@
    </div>
    <div id="wrapper">
        <div class="overlay"></div>
        <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="sidebar-header">
                    <div class="sidebar-brand">
                        <a asp-controller="Cars" asp-action="Index" asp-route-categoryId="null">Car Shop</a>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Categories" asp-action="Index"><i class="fas fa-cog"></i> Manage categories</a></li>
                    <li><a asp-controller="Producers" asp-action="Index"><i class="fas fa-cog"></i> Manage producers</a></li>
                    <li><a asp-controller="Orders" asp-action="Index"><i class="fas fa-cog"></i> Manage orders</a></li>
                    <li><a asp-controller="Warehouses" asp-action="Index"><i class="fas fa-cog"></i> Manage Warehouses</a></li>
                }

                <li class="dropdown">
                    <a id="categoriesButton" href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>
                    <ul id="categories" class="dropdown-menu animated fadeInLeft" role="menu">
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="page-content-wrapper">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/SideBar.js"></script>
        <script src="https://kit.fontawesome.com/d32baf3f4b.js" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="~/js/autocomplete.js"></script>
        @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
