@model string
<div asp-validation-summary="All" class="text-danger"></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Roles" method="post">
            <div class="form-group">
                <label class="control-label" for="name">Нова роль</label>
                <input name="name" class="form-control" autocomplete="off" />
            </div>
            <button type="submit" class="btn btn-primary">Додати</button>
        </form>
    </div>
</div>