@model IEnumerable<CarShop.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container">
    <div class="row row-cols-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            @{ string source = item.PhotoUrl;
                                <div class="h-50"><img src=@source /></div>
                            }
                            @Html.DisplayFor(modelItem => item.Model)
                        </tr>
                        <tr>
                            @Html.DisplayFor(modelItem => item.Price)
                        </tr>
                        <tr>
                            @Html.DisplayFor(modelItem => item.Year)
                        </tr>
                        <tr>
                            @Html.DisplayFor(modelItem => item.Producer.Country)
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
