@model IEnumerable<CarShop.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="container">
    <div class="row row-cols-4">
        @foreach (var item in Model)
        {
        <div class="col">
            <table class="table">
                <tbody>
                    <tr>
                        <div><img src=@item.PhotoUrl></div>
                        @Html.DisplayFor(modelItem => item.Producer.Name) @Html.DisplayFor(modelItem => item.Model)
                    </tr>
                <tr>
                    <td>
                        <label>Price: @Html.DisplayFor(modelItem => item.Price) $</label>
                    </td>
                </tr>
                <tr>
                    @Html.DisplayFor(modelItem => item.Year)
                </tr>
                </tbody>
            </table>
        </div>
         }
    </div>
</div>
